<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DapperEntities" connectionString="data source=SF66\SQLEXPRESS;initial catalog=IntelMark;connect timeout=3600;persist security info=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>